@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  color: #fff;
  text-decoration: none;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  background: #000000;
}
.container {
  max-width: 85%;
  margin: 0 auto;
}

/* Display Layout */
.d-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Text Layout */
.text-bold{
    font-weight: 900;
}

/* Text Colors */
.color-gray{
    color: #ffffff80;
}

/* Header Part */
.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    rgba(0, 0, 1, 0),
    rgba(255, 255, 255, 0.09),
    rgba(255, 255, 255, 0.09),
    rgba(0, 0, 1, 0)
  );
  /* overflow-y: hidden; */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.brand {
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
  color: #e6533c;
}
.nav-list {
  display: flex;
  padding: 2px;
  border: 1.5px solid #ffffff1a;
  border-radius: 10em;
}
.nav-item {
  list-style: none;
  margin-right: 40px;

  padding: 10px 4px;
}
#last-item {
  margin: 0;
  margin-right: 15px;
}
.nav-icon {
  display: none;
}

.banner {
  justify-content: space-between;
  position: relative;
}
.banner-content {
  width: 40%;
}
.banner-heading{
    font-size: 4rem;
    font-weight: 900;
}
#shape{
    font-style: italic;
}
.banner-description{
    color: #ffffff80;
    margin: 30px 0;
}
.banner-btn{
    display: flex;
    gap: 20px;
}
.btn{
    padding: 10px 18px;
    background: transparent;
    border: none;
    border: 1.5px solid #ffffff;
    border-radius: 10em;
    width: 40%;
}
.red-btn {
    background-color: #e6533c;
    padding: 8px 18px;
    border-radius: 10em;
    border: none;
  }
.banner-img {
  width: 50%;
}
.banner-img img {
    position: relative;
    left: 120px;
}
#box-1{
    position: absolute;
    flex-direction: column;
    align-items: normal;
    left: 870px;
    bottom: 350px;
}
#box-2{
    position: absolute;
    left: 560px;
    bottom: 50px;
}

.side-box{
    width: 200px;
    height: 100px;
    background: rgba(165, 164, 164, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    justify-content: center;
    
    
}

.box-content{
    margin-left: 20px;
}
.side-head-1{
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.side-head-2{
    font-size: 1.5rem;
}
.box-icon{
    width: 50px;
    height: 50px;
    background-color: #e6533c;
    border-radius: 50%;
}


/* Responsive for Small devices */
@media screen and (max-width: 574px) {
  .container,
  .banner-content,
  .banner-img{
    width: 100%;
  }
  .nav-list {
    display: none;
  }
  .nav-icon {
    display: inline;
  }

  .banner{
    flex-direction: column;
    gap: 20px;
  }
  .banner-img> img{
    width: 50%;
    
  }
  .box-icon{
    width: 35px;
    height: 35px;
  }
  .box-content{
    margin-left: 10px;
    font-size: 0.7rem;
  }
  .side-head-1{
    font-size: 1.5rem;
  }
  .side-head-2{
    font-size: 1rem;
    margin-bottom: 10px;
  }
  #box-1{
    width: 140px;
    height: 70px;
    left: 220px;
    bottom: 220px;
  }
  #box-2{
    width: 140px;
    height: 70px;
    left: 10px;
    bottom: 100px;
  }
}
